In [3]:
import psycopg2
import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import csv

In [35]:
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [36]:
engine = create_engine('postgresql+psycopg2://koxrqvuuxugccs:6878ba0790ec132289e57f3ed6daa22ada7e6368bea3a7489f4c03cb2bfb9ff1@ec2-174-129-214-42.compute-1.amazonaws.com/d64jo158fls6ag')
connection = engine.connect()

In [37]:
inspector = inspect(engine)
inspector.get_table_names()

['metadata', 'prim_key', 'lines']

In [11]:
"""
DO NOT RUN

engine.execute('''create table lines (
	id INT,
	s0e0 INT,
	speaker VARCHAR(255),
	line_text INT,
	primary key(id)
    )''')
"""

In [12]:
"""
DO NOT RUN

engine.execute('''create table metadata(
	id INT,
	title VARCHAR (255),
	synoprsis VARCHAR(5000),
	imdb_rating DECIMAL,
	episode_no INT,
	primary key (episode_no)
)''')"""

In [13]:
"""
DO NOT RUN

engine.execute('''create table prim_key(
	s0e0 INT,
	ep_id INT,
	primary key (ep_id)
)''')"""

In [39]:
"""
DO NOT RUN

engine.execute("drop table prim_key")
"""

In [7]:
#lines_df = pd.read_csv("../../../DataSets/line_counts.csv")
#metadata_df_i = pd.read_csv("../../../DataSets/metadata.csv")
#prim_key_df = pd.read_csv("../../../DataSets/prim_key.csv")

In [47]:
"""
DO NOT RUN

metadata_df = metadata_df.drop(['Unnamed: 0'], axis=1)
"""

In [25]:
#DO NOT RUN lines_df.to_sql('lines', con=engine)

In [48]:
#DO NOT RUN metadata_df.to_sql('metadata', con=engine)

In [49]:
#DXO NOT RUN prim_key_df.to_sql('prim_key',con=engine)

In [50]:
inspector = inspect(engine)
inspector.get_table_names()

['lines', 'metadata', 'prim_key']

In [33]:
pd.read_sql('''
select * from lines
''', engine)

      index    id  s0e0                  speaker  line_text
0         0     0   101                   Angela          5
1         1     1   101  Documentary Crew Member          3
2         2     2   101                   Dwight         35
3         3     3   101                      Jan         12
4         4     4   101                      Jim         37
5         5     5   101                    Kevin          2
6         6     6   101                      Man          1
7         7     7   101                  Michael         97
8         8     8   101                   Michel          1
9         9     9   101                    Oscar          6
10       10    10   101                      Pam         46
11       11    11   101                  Phyllis          2
12       12    12   101                      Roy          5
13       13    13   101                     Ryan         10
14       14    14   101                  Stanley          5
15       15    15   101              Todd Packer          3
16       16    16   102                   Angela          4
17       17    17   102                   Dwight         40
18       18    18   102                      Jim         35
19       19    19   102                    Kelly          2
20       20    20   102                    Kevin          8
21       21    21   102                  Michael        103
22       22    22   102                Mr. Brown         52
23       23    23   102                    Oscar         13
24       24    24   102                      Pam         26
25       25    25   102                     Ryan          7
26       26    26   102                  Stanley          5
27       27    27   102                     Toby          2
28       28    28   103                   Angela          5
29       29    29   103                   Dwight         88
...     ...   ...   ...                      ...        ...
4091   4091  4091   923                      Man          1
4092   4092  4092   923                    Man 1          1
4093   4093  4093   923                    Man 2          2
4094   4094  4094   923                    Man 3          1
4095   4095  4095   923                 Meredith         15
4096   4096  4096   923                  Michael          2
4097   4097  4097   923                 Minister          2
4098   4098  4098   923                Moderator          2
4099   4099  4099   923                     Mose          2
4100   4100  4100   923                   Nellie          9
4101   4101  4101   923                    Oscar         18
4102   4102  4102   923                      Pam         45
4103   4103  4103   923                     Pete          3
4104   4104  4104   923             Photographer          1
4105   4105  4105   923                  Phyllis         17
4106   4106  4106   923                   Rachel          7
4107   4107  4107   923                     Ravi          7
4108   4108  4108   923                     Ryan         15
4109   4109  4109   923              Seth Mayers          3
4110   4110  4110   923                  Stanley          8
4111   4111  4111   923                 Stripper          5
4112   4112  4112   923                     Toby         13
4113   4113  4113   923                    Usher          1
4114   4114  4114   923                      Val          3
4115   4115  4115   923                    Woman          1
4116   4116  4116   923                  Woman 1          1
4117   4117  4117   923                  Woman 2          2
4118   4118  4118   923                  Woman 3          1
4119   4119  4119   923                  Woman 4          2
4120   4120  4120   923                     Zeke          2

[4121 rows x 5 columns]